[submodule "zenburn-pack"]
	path = zenburn-pack
	url = https://github.com/siancu/zenburn-pack.git
[submodule "solarized-pack"]
	path = solarized-pack
	url = https://github.com/siancu/solarized-pack.git
[submodule "orgmode-pack"]
	path = orgmode-pack
	url = https://github.com/siancu/orgmode-pack.git
[submodule "siancu-pack"]
	path = siancu-pack
	url = https://github.com/siancu/siancu-pack.git
